nav#navbar-top.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  // Brand and toggle get grouped for better mobile display
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#menu-main')
    span.navbar-toggler-icon
    i.icon-bar
    i.icon-bar
    i.icon-bar
  a.navbar-brand(href=lang_preurl + '/', title=config.project_name)
    img.img-fluid(src="/pac/images/LogoPAC-bar.svg", alt=config.project_name)
  #menu-main.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item(class=page_data.url == "/" ? "active" : undefined)
        a.nav-link(href=lang_preurl+'/', title=global.__("Home"))=global.__("Home")
      li.nav-item(class=page_data.url.indexOf(lang_preurl+'/manifesto') >= 0 ? "active" : undefined)
        a.nav-link(href=lang_preurl+'/manifesto/', title=global.__("Manifesto"))=global.__("Manifesto")
      li.nav-item(class=page_data.url.indexOf(lang_preurl+'/members') >= 0 ? "active" : undefined)
        a.nav-link(href=lang_preurl+'/members/', title=global.__("Membri"))=global.__("Membri")
      li.nav-item(class=page_data.url.indexOf(lang_preurl+'/events') >= 0 ? "active" : undefined)
        a.nav-link(href=lang_preurl+'/events/', title=global.__("Eventi"))=global.__("Eventi")
      li.nav-item(class=page_data.url.indexOf(lang_preurl+'/videos') >= 0 ? "active" : undefined)
        a.nav-link(href=lang_preurl+'/videos/', title=global.__("Video"))=global.__("Video")

    ul.navbar-nav
      li.nav-item(class=page_data.url.indexOf(lang_preurl+'/join') >= 0 ? "active" : undefined)
        a.nav-link(href=lang_preurl + '/join/', title=global.__("Join"))=global.__("Join")
      li.nav-item(class=page_data.url.indexOf(lang_preurl+'/newsletter') >= 0 ? "active" : undefined)
        a.nav-link(href=lang_preurl + '/newsletter/', title=global.__("Newsletter"))=global.__("Newsletter")
      li.nav-item(class=page_data.url.indexOf(lang_preurl+'/contacts') >= 0 ? "active" : undefined)
        a.nav-link(href=lang_preurl + '/contacts/', title=global.__("Contatti"))=global.__("Contatti")
      li.menu-spacer-after.d-none-xs
        a#searchModalButton.nav-link(href="/search/", title=global.__("Search"))
          i.icon-search
          .sr-only=global.__("Search")