ul.nav.flex-column.nav-pills
  li.nav-item
    a.nav-link(href=lang_preurl+'/manifesto/', class=page_data.url.indexOf(lang_preurl+'/manifesto') >= 0 ? "active" : undefined)=global.__("Manifesto")
  li.nav-item
    a.nav-link(href=lang_preurl+'/join/', class=page_data.url.indexOf(lang_preurl+'/join') >= 0 ? "active" : undefined)=global.__("Join")
  li.nav-item
    a.nav-link(href=lang_preurl+'/lista-fornitori/', class=page_data.url.indexOf(lang_preurl+'/lista-fornitori') >= 0 ? "active" : undefined)=global.__("Lista fornitori")
  li.nav-item
    a.nav-link(href=lang_preurl+'/contacts/', class=page_data.url.indexOf(lang_preurl+'/contacts') >= 0 ? "active" : undefined)=global.__("Contatti")
