.boxItem(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
  meta(itemprop="eventStatus" content="confirmed")
  meta(itemprop="position", content=position+1)
  .Event(itemprop="item", itemscope, itemtype='http://schema.org/Event')
    .thumb-cnt(itemprop='image', itemscope, itemtype="http://schema.org/ImageObject")
      .thumb-cnt-cnt
        - var editionIndex = -1;
        if config.editions && config.events_to_editions
          - editionIndex = config.events_to_editions.indexOf(result.slug)        
        a(class=lang_preurl+(editionIndex != -1 ? "" : "ajaxloader"), href=lang_preurl+(editionIndex != -1 ? (config.prefix=="shockart" ? "/exhibitions/" : "/editions/")+config.editions[editionIndex]+"/" : '/events/'+result.slug+"/"), rel='bookmark', title!=result.title, itemprop='url')
          img.img-fluid(src=result.imageFormats.small, alt!=global.__('Image for')+': '+result.title, itemprop='contentUrl')
          meta(itemprop="width" content="480")
          meta(itemprop="height" content="270")
    .box-list
      .text-center
        .text-muted.supText
          include ../components/eventdateplace
        h3.list_title(itemprop='name')!=result.title.replace(" | ","<br />")
      .read-more-box
        a(class=lang_preurl+(editionIndex != -1 ? "" : "ajaxloader"), href=lang_preurl+(editionIndex != -1 ? (config.prefix=="shockart" ? "/exhibitions/" : "/editions/")+config.editions[editionIndex]+"/" : '/events/'+result.slug+"/"), rel='bookmark', title!=result.title, itemprop='url')
          .sr-only=global.__("Read More")
          i.icon-right