.boxItem(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
  meta(itemprop="position", content=position+1)
  .News(itemprop="item", itemscope, itemtype="http://schema.org/Article")
    .thumb-cnt(itemprop='image', itemscope, itemtype="http://schema.org/ImageObject")

      a.ajaxloader(href='/news/'+result.slug+"/", rel='bookmark', title!=result.title, itemprop='url')
        if result.video_thumbnail
          span.play-cnt
            i.icon-play
        img.img-fluid(src=result.imageFormats.small, alt!=global.__('Image for')+': '+result.title, itemprop='contentUrl')
        meta(itemprop="width" content="480")
        meta(itemprop="height" content="270")

    .box-list
      .box-list-cnt
        .text-right
          include ../../_common/inc_datemonth_box
        h3.list_title
          a.ajaxloader(itemprop='url', href='/news/'+result.slug+"/", rel='bookmark', title=result.title)!=result.title
        .text-muted.small.excerpt
          if result.description
            div(itemprop='mainEntityOfPage')!=result.description
        ul.list-unstyled.d-none
          li.media.mb-3(itemprop="publisher", itemscope, itemtype="http://schema.org/Organization")
            .users_performance_item_name(itemprop="name")="AVnode.net"
            .d-block(itemprop="logo", itemscope, itemtype="http://schema.org/ImageObject")
              img(itemprop="url", class="svgsmall", src="https://avnode.net/warehouse/users/2013/03/100x100/avnode_jpg.jpg", alt="AVnode.net")
          each user in result.users
            li.media.mb-3(itemprop="author", itemscope, itemtype="http://schema.org/Person")
              .users_performance_item_name(itemprop="name")=user.stagename
