extends layout
block content
  //-.embed-responsive.embed-responsive-16by9(style="margin-top:65px")
    iframe.embed-responsive-item(src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Flivecinemafestival%2Fvideos%2F286073986690677%2F&show_text=false&width=560" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true")
  //- model-viewer(src='/lcf/glb/brancaccio_mesh.glb' camera-controls='' camera-orbit="37.8deg 73.41deg 0.3908m" poster="/lcf/glb/poster.png" min-camera-orbit="auto auto auto" max-camera-orbit="auto auto 0.3908m" camera-target="-0.69m -0.22m -0.45m" auto-rotate='')
    model-viewer(src='/lcf/glb/brancaccio_mesh.glb' camera-controls='' camera-target="-0.61m -0.15m -0.3m" poster="/lcf/glb/poster.png" min-camera-orbit="auto auto auto" max-camera-orbit="auto auto auto" ar="" ar-modes="scene-viewer webxr quick-look")
        .progress-bar.hide(slot='progress-bar')
          .update-bar
        button#ar-button(slot='ar-button')
          | View in your space
        #ar-prompt
          img(src='/lcf/glb/ar_hand_prompt.png')
    script.
      // Handles loading the events for <model-viewer>'s slotted progress bar
        const onProgress = (event) => {
          const progressBar = event.target.querySelector('.progress-bar');
          const updatingBar = event.target.querySelector('.update-bar');
          updatingBar.style.width = `${event.detail.totalProgress * 100}%`;
          if (event.detail.totalProgress === 1) {
            progressBar.classList.add('hide');
          } else {
            progressBar.classList.remove('hide');
            if (event.detail.totalProgress === 0) {
              event.target.querySelector('.center-pre-prompt').classList.add('hide');
            }
          }
        };
        document.querySelector('model-viewer').addEventListener('progress', onProgress);  //img.img-fluid(src="/lcf/images/main-img.jpg")
    // Loads <model-viewer> for browsers:
    script(type='module' src='/lcf/glb/model-viewer.min.js')
  
  //- .scene
    script(src="/lcf/threejs/build/three.module.js")
    script(src="/lcf/threejs/jsm/loaders/GLTFLoader.js")
    <script src="./GLTFLoader.js"></script>
    <script src="./OrbitControls.js"></script>
    <script src="./app.js"></script>
    
    script(type='module').
      import * as THREE from '/lcf/threejs/build/three.module.js';

      import { GLTFLoader } from '/lcf/threejs/jsm/loaders/GLTFLoader.js';

      import { VertexNormalsHelper } from '/lcf/threejs/jsm/helpers/VertexNormalsHelper.js';
      import { VertexTangentsHelper } from '/lcf/threejs/jsm/helpers/VertexTangentsHelper.js';

      //Variables for setup

      let container;
      let camera;
      let renderer;
      let scene;
      let house;
      let mixer;

      function init() {
        container = document.querySelector(".scene");

        //Create scene
        scene = new THREE.Scene();

        const fov = 35;
        const aspect = container.clientWidth / container.clientHeight;
        const near = 0.1;
        const far = 1000;

        //Camera setup
        camera = new THREE.PerspectiveCamera(fov, aspect, near, far);
        camera.position.set(0, 0, 100);

        const ambient = new THREE.AmbientLight(0x404040, 2);
        scene.add(ambient);

        const light = new THREE.DirectionalLight(0xffffff, 2);
        light.position.set(50, 50, 100);
        scene.add(light);
        
        
        // controls.addEventListener('change', renderer);
              
              
        //Renderer
        renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });
        renderer.setSize(container.clientWidth, container.clientHeight);
        renderer.setPixelRatio(window.devicePixelRatio);
        
        controls = new THREE.OrbitControls(camera, renderer.domElement);

        container.appendChild(renderer.domElement);

        const clock = new THREE.Clock();

        //Load Model
        let loader = new THREE.GLTFLoader();
        loader.load("./house/bbb.glb", function(gltf) {
          scene.add(gltf.scene);
          house = gltf.scene.children[0];

          mixer = new THREE.AnimationMixer( house );
          mixer.clipAction(gltf.animations[0]).play();

          animate();
        });
      }

      function animate() {
        requestAnimationFrame(animate);

        const delta = clock.getDelta();
        mixer.update( delta );

        house.rotation.z += 0.005;
        renderer.render(scene, camera);
      }

      init();

      function onWindowResize() {
        camera.aspect = container.clientWidth / container.clientHeight;
        camera.updateProjectionMatrix();

        renderer.setSize(container.clientWidth, container.clientHeight);
      }

      window.addEventListener("resize", onWindowResize);
      }

  //-.embed-responsive.embed-responsive-16by9(style="margin-top:65px")
    //-iframe.embed-responsive-item(src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Flivecinemafestival%2Fvideos%2F626116682118550%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true")
      //iframe.embed-responsive-item(src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Flivecinemafestival%2Fvideos%2F286073986690677%2F&show_text=false&width=560" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true")
      iframe.embed-responsive-item(width="560" height="315" src="https://www.youtube.com/embed/HUnmdsDFbVc?controls=0" title="LCF 2022 REPORT" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen")
  #mycarousel.carousel(data-ride='carousel', data-interval="false", style="z-index: 0;margin-top:65px")
    // Wrapper for slides
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='https://livecinemafestival.com/files/2024/08/lcf24_grafica2_1920x1080.jpg', alt=global.__('Image for') + ': ' + 'LCF 2024')
      .carousel-item
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(width="560" height="315" src="https://www.youtube.com/embed/HUnmdsDFbVc?controls=0" title="LCF 2022 REPORT" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen")
        //-img.d-none.w-100(src='/lpm/images/slider/LPM2019-visual-1.jpg', alt=global.__('Image for') + ': ' + 'LPM 2019 Rome | CALL TO PARTICIPATE')
          //script.
            document.onload = function(){$("#mycarousel").pause()}
      //-.carousel-item
          img.d-block.w-100(src='/lpm/images/slider/LPM2019-visual-1.jpg', alt=global.__('Image for') + ': ' + 'LPM 2019 Rome | CALL TO PARTICIPATE')
          //.carousel-caption
            a(href=lang_preurl+"/editions/2018-rome/call-to-participate/", title="LPM 2019 Rome | CALL TO PARTICIPATE") Bella
        .carousel-item
          img.d-block.w-100(src='/lpm/images/slider/AV-Performances_09.jpg', alt=global.__('Image for') + ': ' + 'LPM 2019 Rome | CALL TO PARTICIPATE')
          //.carousel-caption
            a(href=lang_preurl+"/editions/2018-rome/call-to-participate/", title="LPM 2019 Rome | CALL TO PARTICIPATE") Bella
        .carousel-item
          img.d-block.w-100(src='/lpm/images/slider/AV-Performances_14.jpg', alt=global.__('Image for') + ': ' + 'LPM 2019 Rome | CALL TO PARTICIPATE')
          //.carousel-caption
            a(href=lang_preurl+"/editions/2018-rome/call-to-participate/", title="LPM 2019 Rome | CALL TO PARTICIPATE") Bella
        .carousel-item
          img.d-block.w-100(src='/lpm/images/slider/Installations_03.jpg', alt=global.__('Image for') + ': ' + 'LPM 2019 Rome | CALL TO PARTICIPATE')
          //.carousel-caption
            a(href=lang_preurl+"/editions/2018-rome/call-to-participate/", title="LPM 2019 Rome | CALL TO PARTICIPATE") Bella
        .carousel-item
          img.d-block.w-100(src='/lpm/images/slider/Mapping_01.jpg', alt=global.__('Image for') + ': ' + 'LPM 2019 Rome | CALL TO PARTICIPATE')
          //.carousel-caption
            a(href=lang_preurl+"/editions/2018-rome/call-to-participate/", title="LPM 2019 Rome | CALL TO PARTICIPATE") Bella
        .carousel-item
          img.d-block.w-100(src='/lpm/images/slider/Talks_01.jpg', alt=global.__('Image for') + ': ' + 'LPM 2019 Rome | CALL TO PARTICIPATE')
          //.carousel-caption
            a(href=lang_preurl+"/editions/2018-rome/call-to-participate/", title="LPM 2019 Rome | CALL TO PARTICIPATE") Bella
        .carousel-item
          img.d-block.w-100(src='/lpm/images/slider/Talks_04.jpg', alt=global.__('Image for') + ': ' + 'LPM 2019 Rome | CALL TO PARTICIPATE')
          //.carousel-caption
            a(href=lang_preurl+"/editions/2018-rome/call-to-participate/", title="LPM 2019 Rome | CALL TO PARTICIPATE") Bella


    // Indicators
    ol.carousel-indicators
      li.active(data-target='#mycarousel', data-slide-to='0')
      li(data-target='#mycarousel', data-slide-to='1')
      //-li(data-target='#mycarousel', data-slide-to='2')
        li(data-target='#mycarousel', data-slide-to='3')
        li(data-target='#mycarousel', data-slide-to='4')
        li(data-target='#mycarousel', data-slide-to='5')
        li(data-target='#mycarousel', data-slide-to='6')

    // Controls
    a.carousel-control-prev(href='#mycarousel', role='button', data-slide='prev', title=global.__("Previous slide"))
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#mycarousel', role='button', data-slide='next', title=global.__("Nexts slide"))
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
      
  //-
    section.home.mt-3(itemscope, itemtype='http://schema.org/ItemList')
      .container-fluid
        h1.entry-title(itemprop="name") News
      .swiper-container
        !=results.news.replace(new RegExp("col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 isotopeitem", 'g'), "swiper-slide").replace(new RegExp("row isotope results", 'g'), "swiper-wrapper").replace(new RegExp("pagination pagination-sm justify-content-center", 'g'), "pagination pagination-sm justify-content-center d-none")
      .container-fluid
        .text-right.boxItem
          a.btn.btn-primary.btn-sm(href="/news/", title="See all News") See all News

    section.home(itemscope, itemtype='http://schema.org/ItemList')
      .container-fluid
        h1.entry-title(itemprop="name") Satellite Events
      .swiper-container
        !=results.events.replace(new RegExp("col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 isotopeitem", 'g'), "swiper-slide").replace(new RegExp("row isotope results", 'g'), "swiper-wrapper").replace(new RegExp("pagination pagination-sm justify-content-center", 'g'), "pagination pagination-sm justify-content-center d-none")
      .container-fluid
        .text-right.boxItem
          a.btn.btn-primary.btn-sm(href="/partnerships/", title="See all Events") See all Events

    section.home(itemscope, itemtype='http://schema.org/ItemList')
      .container-fluid
        h1.entry-title(itemprop="name") Productions
      .swiper-container
        !=results.editions.replace(new RegExp("col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 isotopeitem", 'g'), "swiper-slide").replace(new RegExp("row isotope results", 'g'), "swiper-wrapper").replace(new RegExp("pagination pagination-sm justify-content-center", 'g'), "pagination pagination-sm justify-content-center d-none")
      .container-fluid
        .text-right.boxItem
          a.btn.btn-primary.btn-sm(href="/events/", title="See all Editions") See all Productions
