extends layout
block content
  .container
    article(itemscope, itemtype='http://schema.org/Organization')
      header.post_title
        h1(itemprop='name')!=result.avnode.stagename
      .row
        .col-sm-6
          img.img-fluid.main-image(src=result.avnode.imageFormats.large, alt=result.avnode.stagename, itemprop='image')
          ul.list-inline
            each item in result.avnode.social
              if item.url.indexOf('instagram.com/')!=-1
                li.list-inline-item.mr-3
                  a(href=item.url target="_blank" )
                    span.circle-border
                      i.icon-instagram.mr-2
              else if item.url.indexOf('twitter.com/')!=-1
                li.list-inline-item.mr-3
                  a(href=item.url target="_blank" )
                    span.circle-border
                      i.icon-twitter.mr-2
              else if item.url.indexOf('facebook.com/')!=-1 || item.url.indexOf('fb.com/')!=-1
                li.list-inline-item.mr-3
                  a(href=item.url target="_blank" )
                    span.circle-border
                      i.icon-facebook.mr-2
              else if item.url.indexOf('vimeo.com/')!=-1
                li.list-inline-item.mr-3
                  a(href=item.url target="_blank" )
                    span.circle-border
                      i.icon-vimeo.mr-2
              else if item.url.indexOf('youtube.com/')!=-1
                li.list-inline-item.mr-3
                  a(href=item.url target="_blank" )
                    span.circle-border
                      i.icon-youtube.mr-2
              else
                li.list-inline-item.mr-3
                  a(href=item.url target="_blank" )
                    span.circle-border
                      i.icon-globe
        .col-sm-6
          .rientro.bg-light.p-5
            .m-5!=result.avnode.aboutFull ? result.avnode.aboutFull : result.avnode.about
            ul.list-unstyled.m-5
              each web in result.avnode.web
                li
                  a(target='_blank', href=web.url)=web.url
            .m-5
              include ../_partials/inc_share
      section.pt-3.pb-3(itemscope, itemtype='http://schema.org/ItemList')
        .container
          h1.entry-title(itemprop="name")
            b="Eventi"
          .row
            each item in result.avnode.events
              .col-md-3
                include ../_partials/boxes/box_event_item
