ul.nav.nav-pills.nav-stacked
    li.menu-item(class=config.domain =="http://flyer.it" ? "active" : undefined)
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://flyer.it/', title='Flyer new media')
            span.icon-star
            |  FLYER
    li.menu-item(class=config.domain =="http://avnode.org" ? "active" : undefined)
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://avnode.org/', title='International Network for Audio Visual art')
            span.icon-star
            |  AVNODE
    li.menu-item(class=config.domain =="http://flxer.net" ? "active" : undefined)
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='https://flxer.net/', title='FLxER: Live visuals community and software')
            span.icon-star
            |  FLxER
    li.menu-item(class=config.domain =="http://vjtelevision.com" ? "active" : undefined)
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://vjtelevision.com/', title='Vj television: the first 24-hour live video broadcast channel')
            span.icon-star
            |  VJ TELEVISION
    li.menu-item(class=config.domain =="http://liveperformersmeeting.net" ? "active" : undefined)
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://liveperformersmeeting.net/', title='Live video performers, visual artists and vj meeting')
            span.icon-star
            |  LPM
    li.menu-item(class=config.domain =="http://livecinemafestival.com" ? "active" : undefined)
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://livecinemafestival.com/', title='Festival of Audio-Video performances of live cinema')
            span.icon-star
            |  Live Cinema
    li.menu-item(class=config.domain =="http://chromosphere.eu" ? "active" : undefined)
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://chromosphere.eu/', title='Festival of Audio-Video performances on full domes')
            span.icon-star
            |  Chromosphere
    li.menu-item(class=config.domain =="http://shockart.net" ? "active" : undefined)
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://shockart.net/', title='Shockart: web art project')
            span.icon-star
            |  SHOCKART
    li.menu-item(class=config.domain =="http://wam.flyer.it" ? "active" : undefined)
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://wam.flyer.it/', title='WAM: Web Art Museum')
            span.icon-star
            |  WAM
    li.menu-item(class=config.domain =="http://linux-club.org" ? "active" : undefined)
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://linux-club.org/', title='Linux Club Italia')
            span.icon-star
            |  LINUX CLUB
    li.menu-item(class=config.domain =="http://fhf.it" ? "active" : undefined)
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://fhf.it/', title='Free Hardware Foundation')
            span.icon-star
            |  FHF