ul.navbar-nav.mr-auto
  li.nav-item(class=page_data.url.indexOf('/concept') == 0 ? "active" : undefined)
    a.nav-link(href='/concept/') Concept
  li.nav-item(class=page_data.url.indexOf('/events') == 0 ? "active" : undefined)
    a.nav-link(href='/events/') Productions
  li.nav-item(class=page_data.url.indexOf('/partnerships') == 0 ? "active" : undefined)
    a.nav-link(href='/partnerships/') Satellite Events
  li.nav-item(class=page_data.url.indexOf('/news') == 0 ? "active" : undefined)
    a.nav-link(href='/news/') News
  li.nav-item.dropdown
    a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')!="Gallery"
    .dropdown-menu(role='menu')
      a.dropdown-item(href='/editions/2018-rome/gallery/') 2018 Rome
      a.dropdown-item(href='/editions/2017-rome/gallery/') 2017 Rome
  li.nav-item.dropdown
    a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')!="Videos"
    .dropdown-menu(role='menu')
      a.dropdown-item(href='/editions/2018-rome/videos/') 2018 Rome
      a.dropdown-item(href='/editions/2017-rome/videos/') 2017 Rome
  li.nav-item.dropdown
    a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')!="Editions"
    .dropdown-menu(role='menu')
      a.dropdown-item(href='/editions/2018-rome/') 2018 Rome
      a.dropdown-item(href='/editions/2017-rome/') 2017 Rome
  li.nav-item(class=page_data.url.indexOf('/press') == 0 ? "active" : undefined)
    a.nav-link(href='/press/') Press
  li.nav-item(class=page_data.url.indexOf('/contacts') == 0 ? "active" : undefined)
    a.nav-link(href='/contacts/') Contacts
  //li.nav-item(class=page_data.url.indexOf('/avnode-lpm-2015-2018') >= 0 ? "active" : undefined)
    a.nav-link(href='/avnode-lpm-2015-2018/') AVnode | LPM 2015 > 2018
  li.nav-item(class=page_data.url.indexOf('/search') == 0 ? "active" : undefined)
    a.nav-link#searchModalButton(href="/search/")
      i.icon-search
      .sr-only=global.__("Search")

  li.nav-item
    include ../../_partials/components/newsletter-navbar

ul.navbar-nav
  li.nav-item.lang-en(class=page_data.langSwitcher["en"] == page_data.url ? 'active' : '')
    a.nav-link(href=page_data.langSwitcher["en"], hreflang='en', title='English') EN
  li.nav-item.lang-it(class=page_data.langSwitcher["it"] == page_data.url ? 'active' : '')
    a.nav-link(href=page_data.langSwitcher["it"], hreflang='it', title='Italiano') IT
