ul.nav.flex-column.nav-pills
  li.nav-item
    a.nav-link(href=lang_preurl+'/concept/', class=page_data.url.indexOf(lang_preurl+'/concept') >= 0 ? "active" : undefined) Concept
  li.nav-item
    a.nav-link(href=lang_preurl+'/events/', class=page_data.url.indexOf(lang_preurl+'/events') >= 0 ? "active" : undefined) Productions
  li.nav-item
    a.nav-link(href=lang_preurl+'/partnerships/', class=page_data.url.indexOf(lang_preurl+'/partnerships') >= 0 ? "active" : undefined) Satellite Events
  li.nav-item
    a.nav-link(href=lang_preurl+'/press/', class=page_data.url.indexOf(lang_preurl+'/press') >= 0 ? "active" : undefined) Press
  li.nav-item
    a.nav-link(href=lang_preurl+'/contacts/', class=page_data.url.indexOf(lang_preurl+'/contacts') >= 0 ? "active" : undefined)=global.__('Contacts')