ul.navbar-nav.mr-auto
  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/concept') == 0 ? "active" : undefined)
    a.nav-link(href=lang_preurl+'/concept/') Concept
  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/events') == 0 ? "active" : undefined)
    a.nav-link(href=lang_preurl+'/events/') Productions
  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/partnerships') == 0 ? "active" : undefined)
    a.nav-link(href=lang_preurl+'/partnerships/') Satellite Events
  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/news') == 0 ? "active" : undefined)
    a.nav-link(href=lang_preurl+'/news/') News
  li.nav-item.dropdown
    a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')!="Gallery"
    .dropdown-menu(role='menu')
      a.dropdown-item(href='/editions/2022-rome/gallery/') 2022 Rome
      a.dropdown-item(href='/editions/2021-rome/gallery/') 2021 Rome
      a.dropdown-item(href='/editions/2020-rome/gallery/') 2020 Rome
      a.dropdown-item(href='/editions/2019-rome/gallery/') 2019 Rome
      a.dropdown-item(href='/editions/summer-2019-noto/gallery/') Summer 2019 Noto
      a.dropdown-item(href='/editions/2018-rome/gallery/') 2018 Rome
      a.dropdown-item(href='/editions/2017-rome/gallery/') 2017 Rome
  li.nav-item.dropdown
    a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')!="Videos"
    .dropdown-menu(role='menu')
      a.dropdown-item(href='/editions/2022-rome/videos/') 2022 Rome
      a.dropdown-item(href='/editions/2021-rome/videos/') 2021 Rome
      a.dropdown-item(href='/editions/2020-rome/videos/') 2020 Rome
      a.dropdown-item(href='/editions/2019-rome/videos/') 2019 Rome
      a.dropdown-item(href='/editions/summer-2019-noto/videos/') Summer 2019 Noto
      a.dropdown-item(href='/editions/2018-rome/videos/') 2018 Rome
      a.dropdown-item(href='/editions/2017-rome/videos/') 2017 Rome
  li.nav-item.dropdown
    a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')!="Editions"
    .dropdown-menu(role='menu')
      a.dropdown-item(href='/editions/2022-rome/') 2022 Rome
      a.dropdown-item(href='/editions/2021-rome/') 2021 Rome
      a.dropdown-item(href='/editions/2020-rome/') 2020 Rome
      a.dropdown-item(href='/editions/2019-rome/') 2019 Rome
      a.dropdown-item(href='/editions/summer-2019-noto/') Summer 2019 Noto
      a.dropdown-item(href='/editions/2018-rome/') 2018 Rome
      a.dropdown-item(href='/editions/2017-rome/') 2017 Rome
  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/press') == 0 ? "active" : undefined)
    a.nav-link(href=lang_preurl+'/press/') Press
  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/contacts') == 0 ? "active" : undefined)
    a.nav-link(href=lang_preurl+'/contacts/')=global.__('Contacts')
  //li.nav-item(class=page_data.url.indexOf(lang_preurl+'/avnode-lpm-2015-2018') >= 0 ? "active" : undefined)
    a.nav-link(href=lang_preurl+'/avnode-lpm-2015-2018/') AVnode | LPM 2015 > 2018
  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/search') == 0 ? "active" : undefined)
    a.nav-link#searchModalButton(href="/search/")
      i.icon-search
      .sr-only=global.__("Search")

  //-li.nav-item
    include ../../_partials/components/newsletter-navbar

ul.navbar-nav
  li.nav-item.lang-en(class=page_data.langSwitcher["en"] == page_data.url ? 'active' : '')
    a.nav-link(href=page_data.langSwitcher["en"], hreflang='en', title='English') EN
  li.nav-item.lang-it(class=page_data.langSwitcher["it"] == page_data.url ? 'active' : '')
    a.nav-link(href=page_data.langSwitcher["it"], hreflang='it', title='Italiano') IT
