extends layout
block content
  include ../_partials/carousel
  article.home
    .text-center(style="padding-top: 20px;")
      h1.entry-title
        span.sr-only=config.project_name+" "
        !=config.meta.headline[sessions.current_lang]
    section(itemprop="owns", itemscope, itemtype='http://schema.org/OwnershipInfo')
      .home-services(itemprop="typeOfGood", itemscope, itemtype='http://schema.org/ItemList')
        .sr-only(itemprop="name")=global.__("Services")
        .container-fluid.sameheightcnt
          .row
            .col-md-4.sameheight
              !=results.profile['wpcf-row-1-col-1-html-box']
            .col-md-4.sameheight
              !=results.profile['wpcf-row-1-col-2-html-box']
            .col-md-4.sameheight
              !=results.profile['wpcf-row-1-col-3-html-box']

    section.home(itemscope, itemtype='http://schema.org/ItemList')
      .container-fluid
        h1.entry-title(itemprop="name")=global.__("Latest Cultural Productions")
      .swiper-container
        !=results.events.post_content.replace("<p>", "<p class=\"container-fluid\">").replace(new RegExp("col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 isotopeitem", 'g'), "swiper-slide").replace(new RegExp("row isotope results", 'g'), "swiper-wrapper").replace(new RegExp("pagination pagination-sm justify-content-center", 'g'), "pagination pagination-sm justify-content-center d-none")
      .container-fluid
        .text-right.boxItem
          a.btn.btn-primary.btn-sm(href=lang_preurl+"/cultural-productions/", title=global.__("See all Cultural Productions"))=global.__("See all Cultural Productions")

    section.home(itemscope, itemtype='http://schema.org/ItemList')
      .container-fluid
        h1.entry-title(itemprop="name")=global.__("Latest Parterships Managed")
      .swiper-container
        !=results.partnerships.replace("<p>", "<p class=\"container-fluid\">").replace(new RegExp("col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 isotopeitem", 'g'), "swiper-slide").replace(new RegExp("row isotope results", 'g'), "swiper-wrapper").replace(new RegExp("pagination pagination-sm justify-content-center", 'g'), "pagination pagination-sm justify-content-center d-none")
      .container-fluid
        .text-right.boxItem
          a.btn.btn-primary.btn-sm(href=lang_preurl+"/partnerships-management/", title=global.__("See all Parterships Managed"))=global.__("See all Parterships Managed")

    section.home.mt-3(itemscope, itemtype='http://schema.org/ItemList')
      .container-fluid
        h1.entry-title(itemprop="name") News
      .swiper-container
        !=results.news.replace("<p>", "<p class=\"container-fluid\">").replace(new RegExp("col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 isotopeitem", 'g'), "swiper-slide").replace(new RegExp("row isotope results", 'g'), "swiper-wrapper").replace(new RegExp("pagination pagination-sm justify-content-center", 'g'), "pagination pagination-sm justify-content-center d-none")
      .container-fluid
        .text-right.boxItem
          a.btn.btn-primary.btn-sm(href="/news/", title=global.__("See all News"))=global.__("See all News")
            
    section.home-web(itemprop="owns", itemscope, itemtype='http://schema.org/OwnershipInfo')
      .container-fluid(itemprop="typeOfGood", itemscope, itemtype='http://schema.org/ItemList')
        header.text-center
          h2.entry-title(itemprop="name")=results.posttype_web.post_title
          .row
            .col-xl-6.offset-xl-3.col-lg-8.offset-lg-2
              .col-xs-12!=results.posttype_web.post_content
        .row.isotope.results
          each result, position in results.web
            .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.isotopeitem(class=position>2 ? "hidden-lg visible-xl visible-md" : "")
              include ../_partials/boxes/box_web
        .text-center.readmore
          a(href=lang_preurl+'/web-and-apps/', title=global.__("See all Web & Apps"))
            !=global.__("See all Web & Apps")
            !=" "
            i.icon-right

