doctype xml
sitemapindex(xmlns='http://www.sitemaps.org/schemas/sitemap/0.9')
  sitemap
    loc=config.domain+"/sitemap-home.xml"
    lastmod=isodate
  sitemap
    loc=config.domain+"/sitemap-pages.xml"
    lastmod=isodate
  sitemap
    loc=config.domain+"/sitemap-extra.xml"
    lastmod=isodate
  sitemap
    loc=config.domain+"/sitemap-web-and-mobile.xml"
    lastmod=isodate
  sitemap
    loc=config.domain+"/sitemap-cultural-productions.xml"
    lastmod=isodate
  sitemap
    loc=config.domain+"/sitemap-partnerships-management.xml"
    lastmod=isodate
