extends layout
block content
  .container
    article.pagepaddingtop#container(itemscope, itemtype='http://schema.org/CreativeWork')
      .row
        .col-sm-8
          img.img-fluid.main-image(src=result.featured.full, alt=result.post_title, itemprop='image')
          .d-none-xs(itemprop='description')!=result.post_content
        .col-sm-4
          header
            h1.entry-title(itemprop='name')!=result.post_title
            include ../_partials/inc_tags_post

          .rientro
            include ../_partials/inc_type_hidden
            include ../_partials/inc_datemonth_wp
            .d-none.d-sm-block!=result.post_content
            include ../_partials/inc_websites
            include ../_partials/inc_share

      include ../_partials/inc_grid