ul.navbar-nav.mr-auto
  li.nav-item
    a.nav-link(href=lang_preurl+'/performers/')=global.__('Performers')
  li.nav-item
    a.nav-link(href=lang_preurl+'/performances/')=global.__('Performances')
  li.nav-item
    a.nav-link(href=lang_preurl+'/organizations/')=global.__('Organizations')
  li.nav-item
    a.nav-link(href=lang_preurl+'/events/')=global.__('Events')
  //li.nav-item
    a.nav-link(href=lang_preurl+'/footage/')=global.__('Footage')
  //li.nav-item
    a.nav-link(href=lang_preurl+'/playlists/')=global.__('Playlists')
  li.nav-item
    a.nav-link(href=lang_preurl+'/videos/')=global.__('Videos')
  li.nav-item
    a.nav-link(href=lang_preurl+'/news/')=global.__('News')

