ul.pl-0
  each menu in config.meta.editions[current_edition].menu[current_lang]
    li.btn-group.mb-5(class=page_data.url === lang_preurl+menu.permalink ? "active" : undefined)
      a.btn.btn-primary.btn-lg.ml-3(title=menu.post_title, href=menu.post_status == 'publish' ? lang_preurl+menu.permalink : "#", class=menu.post_status == 'publish' ? undefined : "disabled")=menu.post_title
      if menu.childs.length
        button.btn.btn-primary.btn-lg.dropdown-toggle(type='button', data-toggle='dropdown',style=menu.post_status == 'publish' ? undefined : "opacity:.65")
          span.caret
          span.sr-only Toggle Dropdown
        ul.dropdown-menu
          each child in menu.childs
            li(class=child.post_status == 'publish' ? undefined : "disabled")
              a(href=child.post_status == 'publish' ? lang_preurl+child.permalink : "#", title=child.post_title)=child.post_title

