ul.nav.flex-column.nav-pills
  li.nav-item
    a.nav-link(href=lang_preurl+'/linux-club-italia/', class=page_data.url.indexOf(lang_preurl+'/linux-club-italia') >= 0 ? "active" : undefined) Linux Club Italia
  li.nav-item
    a.nav-link(href=lang_preurl+'/newsletter/', class=page_data.url.indexOf(lang_preurl+'/newsletter') >= 0 ? "active" : undefined) Newsletter
  li.nav-item
    a.nav-link(href=lang_preurl+'/join/', class=page_data.url.indexOf(lang_preurl+'/join') >= 0 ? "active" : undefined) Diventa membro
  li.nav-item
    a.nav-link(href=lang_preurl+'/contacts/', class=page_data.url.indexOf(lang_preurl+'/contacts') >= 0 ? "active" : undefined) Contatti
