ul.navbar-nav.mr-auto
  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/linux-club-italia') >= 0 ? "active" : undefined)
    a.nav-link(href=lang_preurl+'/linux-club-italia/') Linux Club Italia
  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/events') >= 0 ? "active" : undefined)
    a.nav-link(href=lang_preurl + '/events/')=global.__("Eventi")
  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/partnerships') >= 0 ? "active" : undefined)
    a.nav-link(href=lang_preurl+'/partnerships/')=global.__("Partnerships")
  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/news/') >= 0 ? "active" : undefined)
    a.nav-link(href=lang_preurl + '/news/')=global.__("News")
  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/contatti') >= 0 ? "active" : undefined)
    a.nav-link(href=lang_preurl + '/contacts/')=global.__("Contatti")
  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/newsletter') >= 0 ? "active" : undefined)
    a.nav-link(href=lang_preurl + '/newsletter/')=global.__("Newsletter")
  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/diventa-membro') >= 0 ? "active" : undefined)
    a.nav-link(href=lang_preurl + '/join/')=global.__("Diventa membro")
  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/amici') >= 0 ? "active" : undefined)
    a.nav-link(href=lang_preurl + '/amici/')=global.__("Amici")

  li.nav-item
    include ../../_partials/components/newsletter-navbar

ul.navbar-nav
  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/search') == 0 ? "active" : undefined)
    a.nav-link#searchModalButton(href="/search/")
      i.icon-search
      .sr-only=global.__("Search")
