ul.nav.flex-column.nav-pills
  li.nav-item
    a.nav-link(href=lang_preurl+'/project/', class=page_data.url.indexOf(lang_preurl+'/project') >= 0 ? "active" : undefined) Project
  li.nav-item
    a.nav-link(href=lang_preurl+'/exhibitions/', class=page_data.url.indexOf(lang_preurl+'/exhibitions') >= 0 ? "active" : undefined) Exhibitions
  li.nav-item
    a.nav-link(href=lang_preurl+'/partnerships/', class=page_data.url.indexOf(lang_preurl+'/partnerships') >= 0 ? "active" : undefined) Satellite Events
  li.nav-item
    a.nav-link(href=lang_preurl+'/contacts/', class=page_data.url.indexOf(lang_preurl+'/contacts') >= 0 ? "active" : undefined)=global.__('Contacts')