ul.nav.flex-column.nav-pills
  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/manifesto') >= 0 ? "active" : undefined)
    a.nav-link(href=lang_preurl+'/manifesto/', class=page_data.url.indexOf(lang_preurl+'/manifesto') >= 0 ? "active" : undefined)=global.__("Manifesto")

  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/join') >= 0 ? "active" : undefined)
    a.nav-link(href=lang_preurl+'/join/', class=page_data.url.indexOf(lang_preurl+'/join') >= 0 ? "active" : undefined)=global.__("Join")

  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/model-231') >= 0 ? "active" : undefined)
    a.nav-link(title=global.__("Model 231"), href=lang_preurl + '/model-231/')=global.__("Model 231")

  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/privacy-policy') >= 0 ? "active" : undefined)
    a.nav-link(title=global.__("Privacy Policy"), href=lang_preurl + '/privacy-policy/')=global.__("Privacy Policy")

  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/cookies-policy') >= 0 ? "active" : undefined)
    a.nav-link(title=global.__("Cookies Policy"), href=lang_preurl + '/cookies-policy/')=global.__("Cookies Policy")

  li.nav-item(class=page_data.url.indexOf(lang_preurl+'/contacts') >= 0 ? "active" : undefined)
    a.nav-link(title=global.__("Contacts"), href=lang_preurl + '/contacts/')=global.__("Contacts")