#mycarousel.carousel.slide(data-ride='carousel')
  - var carousel = []
  - carousel.push({title:"LPM Live Performers Meeting", link: lang_preurl + "/cultural-productions/lpm-2020-rome/", img:"https://flyer.it/files/2020/05/00_lpm.jpg"})"})
  - carousel.push({title:"AVnode.net",                  link: "https://avnode.net", img:"https://flyer.it/files/2020/05/01_avnode.jpg"})
  - carousel.push({title:"FLxER: No Borders",           link: "https://flxer.net/performances/noborders/", img:"https://flyer.it/files/2020/05/02_no-borders.jpg"})
  - carousel.push({title:"Live Cinema Festival",        link: lang_preurl + "/cultural-productions/live-cinema-festival-2019/", img:"https://flyer.it/files/2020/05/03_lcf.jpg"})
  - carousel.push({title:"LCF App",                     link: lang_preurl + "/web-and-apps/lcf-2019-app/", img:"https://flyer.it/files/2020/05/04_lcf_app.jpg"})
  - carousel.push({title:"La Festa Di Roma",            link: lang_preurl + "/cultural-productions/la-festa-di-roma-2020/", img:"https://flyer.it/files/2020/05/05_NYE-moon.jpg"})
  - carousel.push({title:"Fotonica Festival",           link: lang_preurl + "/cultural-productions/fotonica-2019/", img:"https://flyer.it/files/2020/05/06_fotonica.jpg"})
  - carousel.push({title:"Chromosphere Festival",       link: lang_preurl + "/cultural-productions/chromosphere-nye-2016-rome/", img:"https://flyer.it/files/2020/05/07_chromosphere.jpg"})
  - carousel.push({title:"Mapping Gaming: The Pinball", link: "https://flxer.net/performances/mapping-gaming-the-pinball/", img:"https://flyer.it/files/2020/05/08_pinball.jpg"})
  - carousel.push({title:"Mapping Gaming: The Pong",    link: "https://flxer.net/performances/mapping-gaming-the-pong/", img:"https://flyer.it/files/2020/05/09_pong.jpg"})
  - carousel.push({title:"VJ Television",               link: "https://vjtelevision.com", img:"https://flyer.it/files/2020/05/10_vjtelevision.jpg"})
  - carousel.push({title:"AVnode LPM 2015 > 2018",      link: "https://avnode.net/avnode-lpm-2015-2018/", img:"https://flyer.it/files/2020/05/11_2015-2018-Europe.jpg"})
  - carousel.push({title:"FLxER: Mapping Spring Attitude", link: "https://flxer.net/performances/lvss-maxxi-spring-attitude", img:"https://flyer.it/files/2020/05/11_mapping-SA.jpg"})
  - carousel.push({title:"FLxER: ONNframe",             link: "https://flxer.net/performances/onnframe/", img:"https://flyer.it/files/2020/05/12_onnframe.jpg"})
  - carousel.push({title:"Mapping Gaming: The Pinball", link: "https://flxer.net/performances/mapping-gaming-the-pinball/", img:"https://flyer.it/files/2020/05/13_pinball.jpg"})
  // Indicators
  ol.carousel-indicators
    each car, index in carousel
      li(data-target='#mycarousel', data-slide-to=index, class=(index===0 ? "active" : undefined))
  // Wrapper for slides
  .carousel-inner(role='listbox')
    each car, index in carousel
      .carousel-item(data-target='#mycarousel', data-slide-to=index, class=(index===0 ? "active" : undefined))
        //a(href=car.link.replace("events", (config.prefix == "flyer" ? "cultural-productions" : "events")), title=car.title)
        img.d-block.w-100(src=car.img, alt=global.__('Image for')+': '+car.title)

  // Controls
  a.carousel-control-prev(href='#mycarousel', role='button', data-slide='prev', title=global.__("Previous slide"))
    span.carousel-control-prev-icon(aria-hidden='true')
    span.sr-only Previous
  a.carousel-control-next(href='#mycarousel', role='button', data-slide='next', title=global.__("Nexts slide"))
    span.carousel-control-next-icon(aria-hidden='true')
    span.sr-only Next
