article#container
  if result.post_content!=""
    - if (config.siae_on_off=="on") result.post_content = result.post_content.replace(new RegExp("VJ / DJ sets", "g"), "AV Live")
    .row
      .col-md-8
        .main-cnt
          header.post_title.mb-4
            h1(itemprop="name")=page_data.title
          .rientro
            div(itemprop='description')!=result.post_content
      .col-md-4
        .main-image
          if result.featured.thumbnail
            img.img-fluid(src=result.featured.thumbnail.replace("https://flyer.dev.flyer.it", config.domain), alt=page_data.title, itemprop='image')
  else
    header.post_title.mb-4
      h1(itemprop='name')=page_data.title
  if (sessions.current_edition == config.last_edition && page_data.url.indexOf("/program/")!==-1)
    if(config.last_edition_status == "call")
      style.
        .schedule {
          display: none
        }
      if (page_data.url.indexOf("/workshops/") == page_data.url.length - 11)
        br
        .alert.alert-danger!="<b>ATTENTION!!!</b> The call for proposal is still open. The list of the FREE workshops include ONLY the submissions approved till today and their schedule may change.<br />The list of workshop with a fee is FINAL and you can buy it!<br /> <b>Do you want to be in?</b> click here&nbsp;&nbsp;&nbsp;<a class=\"btn btn-primary btm-inline\" href=\"/editions/"+sessions.current_edition+"/call-to-participate/\">PARTICIPATE</a>"
      else if (result.post_content.indexOf('<p class="type">Workshop</p>') == -1)
        br
        .alert.alert-danger!="<b>ATTENTION!!!</b> The call for proposal is still open. The list of acts include ONLY the submissions approved till today and their schedule will be available soon.<br /><b>Do you want to be in?</b> click here&nbsp;&nbsp;&nbsp;<a class=\"btn btn-primary btm-inline\" href=\"/editions/"+sessions.current_edition+"/call-to-participate/\">PARTICIPATE</a>"
    if (config.last_edition_status == "approving")
      style.
        .schedule {
          display: none
        }
      if (page_data.url.indexOf("/artists/") == page_data.url.length - 9)
        br
        .alert.alert-danger!="<b>ATTENTION!!!</b> We are still approving the proposals sent with the call. The artists list include the submissions submitted, confirmed and not confirmed. The schedule of the acts will be available soon. <b>Do you want to be in?</b> click here&nbsp;&nbsp;&nbsp;<a class=\"btn btn-primary btm-inline\" href=\"/editions/" + sessions.current_edition + "/tickets/visitors/\">BUY A TICKET</a>"
      else if (result.post_content.indexOf('<p class="type">Workshop</p>') == -1)
        br
        .alert.alert-danger!="<b>ATTENTION!!!</b> We are still approving the proposals sent with the call. The schedule of the act will be available soon. <b>Do you want to be in?</b> click here&nbsp;&nbsp;&nbsp;<a class=\"btn btn-primary btm-inline\" href=\"/editions/" + sessions.current_edition + "/tickets/visitors/\">BUY A TICKET</a>"
    if (config.last_edition_status == "programming")
      style.
        .schedule {
          display: none
        }
      if (page_data.url.indexOf("/program/")==page_data.url.length-9)
        .alert.alert-danger!=__("<b>ATTENTION!!!</b> The programming is not yet final. Please come back!!!")
    if (config.last_edition_status == "done")
        br
        .alert.alert-success!="<b>ATTENTION LAST TICKETS AVAILABES</b> &nbsp;&nbsp;&nbsp;<a class=\"btn btn-primary btm-inline\" href=\"/editions/" + sessions.current_edition + "/tickets/visitors/\">BUY A TICKET</a>"
  .pt-3
    if page_data.wpID == 89079
      .filters.p-4
        span.by-type.small.d-sm-block.d-md-inline
          span.mr-4
            !="By Type"
          span.mr-4 
            a(href="#" data-show="all")
              b="All"
          span.mr-4 
            a(href="#" data-show="av-performance")
              b="Performances"
          span.mr-4 
            a(href="#" data-show="video-installation")
              b="Installations"
          span.mr-4 
            a(href="#" data-show="lecture")
              b="Lectures"
          span.mr-4 
            a(href="#" data-show="workshop")
              b="Workshops"
        if result['wpcf-same-rows-height']==1
          span.by-day.small.d-sm-block.d-md-inline
            span.mr-4.ml-lg-4
              !="By Day"
            span.mr-4 
              a(href="#" data-show="all")
                b="All"
            each row in result.grid
              if row
                  each col in row
                    if col && col.tit && col.tit!="."
                      span.mr-4 
                        a(href="#" data-show=col.tit.split(" ").join("-"))
                          b=col.tit
        else
          if result.grid
              - span = 12/result.grid.length
              each col in result.grid
                if col
                    each row in col
                      if row && row.tit && col.tit != "."
                        .mr-4 
                          a(href="#" data-show=row.tit.split(" ").join("-"))=row.tit
    include ../_partials/inc_grid


//if result.data.advanced.programmebydayvenue
  .program_event_wrapper_bkg
    section.row.program_event_wrapper
        .col-lg-12
          .container
            h2.main_title.indented_title.color1!=global.__('Program')
            - addtit = false;
            each day, index in result.data.advanced.programmebydayvenue
              if result.data.advanced.programmebydayvenue[index+1] && JSON.stringify(result.data.advanced.programmebydayvenue[index].rooms) == JSON.stringify(result.data.advanced.programmebydayvenue[index+1].rooms)
                - if (!addtit) titstart = day.date
                - addtit = true;
              else
                h3.date_schedule_title=addtit ? titstart+" // "+day.date : day.date
                - addtit = false;
                .data_program_divider
                each venueroom in day.rooms              
                  h4.program_category_title=venueroom.venue+" // "+venueroom.room                      
                  .owl-carousel.loop.owl-theme
                    if venueroom.performances
                      each item in venueroom.performances
                        include ../partials/boxPerformanceScheduled
