article#container(itemprop='performer', itemscope, itemtype='http://schema.org/Person')
  header
    h1.entry-title.d-none
  //if (sessions.current_edition == config.last_edition && config.last_edition_status == "call")
    style.
      .schedule {
        display: none
      }
    if (page_data.url.indexOf("/artists/")==page_data.url.length-9)
      .alert.alert-danger!="<b>ATTENTION!!!</b> The call for proposal is still open. The artists list include the submissions submitted, confirmed and not confirmed. <b>Do you want to be in?</b> click here&nbsp;&nbsp;&nbsp;<a class=\"btn btn-primary btm-inline\" href=\"/editions/"+sessions.current_edition+"/participate/\">PARTICIPATE</a>"
    else if (result.post_content.indexOf('<p class="type">Workshop</p>')==-1)
      .alert.alert-danger!="<b>ATTENTION!!!</b> The call for proposal is still open. The schedule of the acts will be available soon. <b>Do you want to be in?</b> click here&nbsp;&nbsp;&nbsp;<a class=\"btn btn-primary btm-inline\" href=\"/editions/"+sessions.current_edition+"/participate/\">PARTICIPATE</a>"
  //if (sessions.current_edition == config.last_edition && config.last_edition_status == "approving")
    style.
      .schedule {
        display: none
      }
    if (page_data.url.indexOf("/artists/") == page_data.url.length - 9)
      .alert.alert-danger!="<b>ATTENTION!!!</b> We are still approving the proposals sent with the call. The artists list include the submissions submitted, confirmed and not confirmed. The schedule of the acts will be available soon. <b>Do you want to be in?</b> click here&nbsp;&nbsp;&nbsp;<a class=\"btn btn-primary btm-inline\" href=\"/editions/" + sessions.current_edition + "/participate/as-visitor/\">BUY A TICKET</a>"
    else if (result.post_content.indexOf('<p class="type">Workshop</p>') == -1)
      .alert.alert-danger!="<b>ATTENTION!!!</b> We are still approving the proposals sent with the call. The schedule of the act will be available soon. <b>Do you want to be in?</b> click here&nbsp;&nbsp;&nbsp;<a class=\"btn btn-primary btm-inline\" href=\"/editions/" + sessions.current_edition + "/participate/as-visitor/\">BUY A TICKET</a>"

  .row.artist-dett
    .col-sm-9
      .row
        .col-sm-3
          img.img-fluid(class=result.avnode.performer.imageFormats.large.substring(result.avnode.performer.imageFormats.large.lastIndexOf(".")+1), itemprop='image', alt=result.avnode.performer.stagename, src=result.avnode.performer.imageFormats.large)
        .col-sm-9
          h1.mt-3.entry-title(itemprop='name')!=result.avnode.performer.stagename
          .rientro
            p!=result.avnode.performer.addressesFormatted
            .d-none
              each address in result.avnode.performer.addresses
                span(itemprop='workLocation', itemscope='', itemtype='http://schema.org/Place')
                  span(itemprop='address', itemscope='', itemtype='http://schema.org/PostalAddress')
                    b(itemprop='addressCountry')=address.country
                    !=", "
                    span(itemprop='addressLocality')=address.locality
            .mb-3(itemprop='description')!=result.avnode.performer.aboutFull ? result.avnode.performer.aboutFull : result.avnode.performer.about
            if result.avnode.performer.web && result.avnode.performer.web.length && result.avnode.performer.web[0].web
              p
                strong LINKS
              ul.squared10
                each web in result.avnode.performer.web
                  li
                    a(itemprop='url', target='_blank', href=web.url)=web.url
            if result.avnode.performer.social && result.avnode.performer.social.length && result.avnode.performer.social[0].web
              p
                strong SOCIAL
              ul.squared10
                each social in result.avnode.performer.social
                  li
                    a(itemprop='url', target='_blank', href=social.url)=social.url
    .col-sm-3(itemprop='owns', itemscope='', itemtype='http://schema.org/ItemList')
      h2.grid-title.mt-3(itemprop='name') Performance
      div
        ul.lists(itemscope itemtype="http://schema.org/ItemList")
          each performance, i in result.avnode.performer.performances
            li.rientro(style='margin-bottom: 10px;', itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
              meta(itemprop='position', content=i)
              div(itemprop='item', itemscope='', itemtype='http://schema.org/CreativeWork')
                a(itemprop='url', href=lang_preurl+(config.prefix=="shockart" ? "/exhibitions/" : "/editions/")+req_params.edition+'/program/detail/'+performance.slug+"/", title=performance.title)
                  img.img-fluid(itemprop='image', src=performance.imageFormats.small, alt=performance.title)
                p
                h3(itemprop='name')
                  a(href=lang_preurl+(config.prefix=="shockart" ? "/exhibitions/" : "/editions/")+req_params.edition+'/program/detail/'+performance.slug+"/", title=performance.title)!=performance.title
                p.type=performance.type.name
                each booking in performance.bookings
                  each schedule in booking.schedule
                    p.stit.schedule
                      span(itemprop='contentLocation')=schedule.venue.room
                    p.stit.schedule
                      !=schedule.boxDateFull