if result['wpcf-add-grid-boxes'] && result['wpcf-rows'] && result['wpcf-columns']
  - var rowsN = result['wpcf-rows']+1;
  - var columnsN = result['wpcf-columns']+1;
  //if rowsN>0 && columnsN>0
  
  if result['wpcf-same-rows-height']==1
    each row in result.grid
      if row
        .row.sameheightcnt
          - var conta = 0
          each col in row
            - if (col && col.tit) conta++
          - var span = 12/conta
          each col in row
            if col && col.tit && col.tit!="."
              - if (config.siae_on_off=="on") col.tit = col.tit.replace(new RegExp("VJ-DJ Sets", "g"), "AV Live")
              .sameheight.boxItem(class="col-lg-"+span+" "+(col.tit ? col.tit.split(" ").join("-") : ""), itemprop=col.box && col.box.indexOf("itemListElement")>0 ? "performer" : undefined, itemscope=col.box && col.box.indexOf("itemListElement")>0 ? "" : undefined, itemtype=col.box && col.box.indexOf("itemListElement")>0 ? "http://schema.org/ItemList" : undefined)
                .mb-4
                  .grid-title.mb-3
                    h3.mb-0(itemprop="name")!=col.tit
                    if col.stit
                      - if (config.siae_on_off=="on") col.stit = col.stit.replace(new RegExp("VJ-DJ Sets", "g"), "AV Live")
                      .text-muted!=col.stit
                  if col.box.indexOf("itemListElement")>0
                    !=col.box
                  else
                    .rientro(itemprop="description")!=col.box
  else
    if result.grid
      .row.sameheightcnt
        - span = 12/result.grid.length
        each col in result.grid
          if col
            .sameheight.boxItem(class="col-lg-" + span+" "+(col.tit ? col.tit.split(" ").join("-") : ""), itemprop=col.box && col.box.indexOf("itemListElement") > 0 ? "performer" : undefined, itemscope=col.box && col.box.indexOf("itemListElement") > 0 ? "" : undefined, itemtype=col.box && col.box.indexOf("itemListElement") > 0 ? "http://schema.org/ItemList" : undefined)
              each row in col
                if row && row.tit && col.tit != "."
                  .mb-4
                    .grid-title.mb-3
                      h3.mb-0(itemprop="name")!=row.tit
                      if row.stit
                        .text-muted!=row.stit
                    if row.box.indexOf("itemListElement")>0
                      !=row.box
                    else
                      .rientro(itemprop="description")!=row.box