form#newsletter-form(method='post', action=page_data.url, role='form')
  h2
    b=global.__("Subscription")
    !=" form"
  .messages
    - if (typeof msg !== "undefined" && typeof msg.e !== "undefined" && msg.e.length)
      .alert.alert-danger
        h4=global.__("There are some errors")
        ul
          - for(a=0;a<msg.e.length;a++)
            li=msg.e[a].m
    - if (typeof msg !== "undefined" && typeof msg.c !== "undefined" && msg.c.length)
      .alert.alert-success
        h4=global.__("There are some messages")
        ul
          - for(a=0;a<msg.c.length;a++)
            li=msg.c[a].m
  .controls
    .row
      .col-md-6
        .form-group
          label(for='form_name')=global.__("Name")+" *"
          input#form_name.form-control(type='text', value=result.body.name, name='name', placeholder=global.__("Please enter your name")+" *", required='required', data-error=global.__("Name is required"))
          .help-block.with-errors
      .col-md-6
        .form-group
          label(for='form_surname')=global.__("Surname")+" *"
          input#form_surname.form-control(type='text', value=result.body.Surname, name='Surname', placeholder=global.__("Please enter your surname")+" *", required='required', data-error=global.__("Surame is required"))
          .help-block.with-errors
    .row
      .col-md-6
        .form-group
          label(for='form_email')=global.__("Email")+" *"
          input#form_email.form-control(type='email', value=result.body.email, name='email', placeholder=global.__("Please enter your email")+" *", required='required', data-error=global.__("Valid email is required"))
          .help-block.with-errors
      .col-md-6
        .form-group
          label(for='country')=global.__("Country")+" *"
          select#country.form-control(name="Country", required='required', data-error=global.__("Country is required"))
            option(value="")= __("Please select a country")
            each item in result.countries
              option(selected=item.short == result.body.Country, value=item.short)=item.name
          .help-block.with-errors
    .row
      .col-md-6
        .form-group
          label=global.__("Main topic") + " *"
          each item, index in config.accounts.newsletter.interests
            .radio
              label(for='maintopics' + index)
                input(type='radio', checked=result.body.topics && result.body.topics.length && result.body.topics[0]==index ? "checked" : undefined, name='topics', required='required', id='maintopics' + index, value=index, data-atleastone="topics", data-error=global.__("Main topic is required"))
                !=" " + item
              .help-block.with-errors
      .col-md-6
        .form-group
          label=global.__("Other topics")
          each item, index in config.accounts.newsletter.interests
            .checkbox
              label(for='topics' + index)
                input(type='checkbox', checked=result.body.topics && result.body.topics.indexOf(index)>0 ? "checked" : undefined, name='topics', id='topics' + index, value=index)
                !=" " + item
              .help-block.with-errors
    .row
      .col-md-12
        if result.captcha
          p!=result.captcha
    .row
      .col-md-4
        input.btn.btn-success.btn-send(type='hidden', name='formtype', value='newsletter')
        input.btn.btn-success.btn-send(type='submit', value=global.__("Subscribe"))
      .col-md-8
        p.text-muted.text-right
          strong *
          !=global.__("These fields are required.")
