article.pagepaddingtop#container(itemprop='subEvent', itemscope, itemtype='http://schema.org/Event')
  .row
    .col-sm-8
      img.img-fluid.main-image(src=result.avnode.imageFormats.large, alt=result.avnode.title, itemprop='image')
      
      #list-tab.list-group.list-group-horizontal.mt-3(role='tablist')
        if result.avnode.about
          a#about_tab.list-group-item.list-group-item-action.active(href='#about', aria-controls="about", role='tab', result.avnode.performance-toggle="list")=global.__('About')
        a#technical_specifications_tab.list-group-item.list-group-item-action(href='#technical_specifications', aria-controls="technical_specifications", role='tab', result.avnode.performance-toggle="list")=global.__('Technical specifications')
        //if result.avnode.paypal
          li.list-group-item
            a.list-group-item.list-group-item-action(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id='+result.avnode.paypal, target='_blank')    
              =global.__('BUY NOW')
      // Tab panes
      .tab-content
        //if result.avnode.about
        #about.tab-pane.rientro.active(role='tabpanel' aria-labelledby="about_tab")
          .pt-2.pb-2!=result.avnode.about
        #technical_specifications.tab-pane.rientro(role='tabpanel' aria-labelledby="technical_specifications_tab")
          if result.avnode.duration
            .tech_info_wrapper
              h4.tech_info_title=global.__('Duration (minutes)')
              p!=result.avnode.duration
          if result.avnode.tech_req
            .tech_info_wrapper
              h4.tech_info_title=global.__('What is needed')
              p!=result.avnode.tech_req
          if result.avnode.tech_art
            .tech_info_wrapper
              h4.tech_info_title=global.__('What the artists brings')
              p!=result.avnode.tech_art
      - var originalbasepath = basepath
      if result.avnode.galleries.length  
        section.event_galleries_wrapper
          h2.main_title.indented_title!=global.__('Galleries')+" <small>(<span>"+result.avnode.galleries.length+"</span>)</small>"  
          ul#listItems.row
            - basepath = originalbasepath+"/galleries/"
            each item in result.avnode.galleries                    
              include ./boxes/box_gallery
      if result.avnode.videos.length  
        section.event_video_wrapper
          .row
            .col-lg-12
              h2.main_title.indented_title!=global.__('Videos')+" <small>(<span>"+result.avnode.videos.length+"</span>)</small>"  
              ul#listItems.row
                - basepath = originalbasepath+"/videos/"
                each item in result.avnode.videos            
                  include ./boxes/box_video
    .col-sm-4
      header.post_title.mb-4
        h1(itemprop='name')!=result.avnode.title
      .rientro
        if result.avnode.type
          ul.list-inline.category_performance_item.single_performance
            li.list-inline-item
                span=result.avnode.type.name
            if result.avnode.tecnique
              li.list-inline-item
                span=result.avnode.tecnique.name
            if result.avnode.genre
              li.list-inline-item
                span=result.avnode.genre.name
        .row
          each user in result.avnode.users
            .col-md-4
              .mb-2
                a(href="https://avnode.net/"+user.slug, target="_blank")
                  img(class=user.imageFormats.small.substring(user.imageFormats.small.lastIndexOf(".")+1), src=user.imageFormats.small, alt=user.stagename)
              h3
                a(href="https://avnode.net/"+user.slug, target="_blank").users_performance_item_name=user.stagename
              if user.addressesFormatted && user.addressesFormatted.length
                p.users_performance_item_country!=user.addressesFormatted.join(", ")
        if result.avnode.bookings.length
          h2=global.__('Events')  
          each booking in result.avnode.bookings
            .row.mb-3
              .col-sm-3
                .performance_event_image
                  a.performance_event_title(href="https://avnode.net/events/"+booking.event.slug, target="_blank")
                    img.img-fluid(src=booking.event.imageFormats.small, alt=booking.event.title)
              .col-sm-9
                h3
                  a.performance_event_title(href="https://avnode.net/events/"+booking.event.slug, target="_blank")=booking.event.title
                p
                  each schedule in booking.schedule
                    !=schedule.boxDate
                    br
                    !=schedule.venue.name + " | " + schedule.venue.room + " | " + schedule.venue.location.locality + ", " + schedule.venue.location.country
        .text-right
          include ../_common/inc_share
