extends layout
block content
  .row
    .col-md-8
      if result.avnode.videos[0].media && result.avnode.videos[0].media.file
        .embed-responsive.embed-responsive-16by9
          video.embed-responsive-item#my-video.video-js(controls='', preload='auto', width='640', height='264', poster=result.avnode.videos[0].imageFormats.large, data-setup='{aspectRatio:"16:9", fluid: true}')
            source(src="https://avnode.net"+result.avnode.videos[0].media.file, type='video/mp4')
            //source(src='MY_VIDEO.webm', type='video/webm')
            p.vjs-no-js
              !=global.__("To view this video please enable JavaScript, and consider upgrading to a web browser that")
              a(href='http://videojs.com/html5-video-support/', target='_blank')=!global.__("supports HTML5 video")

    .col-md-4
      header.post_title.mb-4
        h1(itemprop='name')!=result.avnode.videos[0].title
      .rientro
        h3=global.__("Data")
        if result.avnode.videos[0].media && result.avnode.videos[0].media.file
          ul
            li=global.__('File name')+": "
              b=result.avnode.videos[0].media.file.substring(result.avnode.videos[0].media.file.lastIndexOf("/")+1)
            li=global.__('File size')+": "
              b=( result.avnode.videos[0].media.filesize / Math.pow(1024, Math.floor( Math.log(result.avnode.videos[0].media.filesize) / Math.log(1024) )) ).toFixed(2) * 1 + ' ' + ['B', 'kB', 'MB', 'GB', 'TB'][Math.floor( Math.log(result.avnode.videos[0].media.filesize) / Math.log(1024) )]
            li=global.__('File duration')+": "
              b=result.avnode.videos[0].media.duration
            li=global.__('File type')+": "
              b=ext
        if result.avnode.videos[0].tags
          .data_footage_video_wrapper
            h3=global.__("Tags")
            ul.list-inline.category_performance_item
              each tag in result.avnode.videos[0].tags
                li.list-inline-item=tag.tag
        if result.avnode.videos[0].about
          .data_footage_video_wrapper
            h3=global.__("About")
            .pt-2.pb-2!=result.avnode.videos[0].about
        .data_footage_video_wrapper
          h3=global.__("Author")
          .row
            each user in result.avnode.videos[0].users
              .col-md-4
                .mb-2
                  a(href="/"+user.slug)
                    img(class=user.imageFormats.small.substring(user.imageFormats.small.lastIndexOf(".")+1)+"small", src=user.imageFormats.small, alt=user.stagename)
                h3
                  a(href="/"+user.slug).users_performance_item_name=user.stagename
                if user.addressesFormatted && user.addressesFormatted.length
                  p.users_performance_item_country!=user.addressesFormatted.join(", ")
        if result.avnode.videos[0].events.length
          h2=global.__('Events')  
          each booking in result.avnode.videos[0].events
            .row.mb-3
              .col-sm-3
                .performance_event_image
                  a.performance_event_title(href="/events/"+booking.event.slug)
                    img.img-fluid(src=booking.event.imageFormats.small, alt=booking.event.title)
              .col-sm-9
                h3
                  a.performance_event_title(href="/events/"+booking.event.slug)=booking.event.title
                p
                  each schedule in booking.schedule
                    !=schedule.boxDateFull
                    br
                    !=schedule.venue.name + " | " + schedule.venue.room + " | " + schedule.venue.location.locality + ", " + schedule.venue.location.country
        if result.avnode.videos[0].performances.length
          h2=global.__('Performance')  
          each performance in result.avnode.videos[0].performances
            .row.mb-3
              .col-sm-3
                .performance_event_image
                  a.performance_event_title(href="/performances/"+performance.slug)
                    img.img-fluid(src=performance.imageFormats.small, alt=performance.title)
              .col-sm-9
                h3
                  a.performance_event_title(href="/performances/"+performance.slug)=performance.title
        .text-right
          include ../_partials/inc_share
