doctype xml
sitemapindex(xmlns='http://www.sitemaps.org/schemas/sitemap/0.9')
  sitemap
    loc=config.domain+"/sitemap-home.xml"
    lastmod=isodate
  sitemap
    loc=config.domain+"/sitemap-pages.xml"
    lastmod=isodate
  sitemap
    loc=config.domain+"/sitemap-news.xml"
    lastmod=isodate
  sitemap
    loc=config.domain+"/sitemap-events.xml"
    lastmod=isodate
  sitemap
    loc=config.domain+"/sitemap-performances.xml"
    lastmod=isodate
  sitemap
    loc=config.domain+"/sitemap-workshops.xml"
    lastmod=isodate
  sitemap
    loc=config.domain+"/sitemap-installations.xml"
    lastmod=isodate
