nav#navbar-top.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-4
  // Brand and toggle get grouped for better mobile display
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#menu-main')
    span.navbar-toggler-icon
    i.icon-bar
    i.icon-bar
    i.icon-bar
  a.navbar-brand(href=lang_preurl + '/', title=config.project_name)
    i(class="icon-"+(config.prefix=="fotonica" ? "f" : config.prefix+(config.prefix=="lcf" ? "-fill" : "")), itemprop='logo')
    .sr-only(itemprop='name')=config.project_name
  #menu-main.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item(class=page_data.url.indexOf(lang_preurl+'/project') == 0 ? "active" : undefined)
        a.nav-link(href=lang_preurl+'/project/') Project
      li.nav-item(class=page_data.url.indexOf(lang_preurl+'/presentation-to-the-city') == 0 ? "active" : undefined)
        a.nav-link(href=lang_preurl+'/presentation-to-the-city/') Presentation to the city
      li.nav-item(class=page_data.url.indexOf(lang_preurl+'/partnerships') == 0 ? "active" : undefined)
        a.nav-link(href=lang_preurl+'/partnerships/') Satellite Events
      li.nav-item(class=page_data.url.indexOf(lang_preurl+'/news') == 0 ? "active" : undefined)
        a.nav-link(href=lang_preurl+'/news/') News
      //li.nav-item(class=page_data.url.indexOf(lang_preurl+'/newsletter') == 0 ? "active" : undefined)
        a.nav-link(href=lang_preurl+'/newsletter/') Newsletter
      li.nav-item(class=page_data.url.indexOf(lang_preurl+'/contacts') == 0 ? "active" : undefined)
        a.nav-link(href=lang_preurl+'/contacts/')=global.__('Contacts')
      //li.nav-item(class=page_data.url.indexOf(lang_preurl+'/avnode-lpm-2015-2018') >= 0 ? "active" : undefined)
        a.nav-link(href=lang_preurl+'/avnode-lpm-2015-2018/') AVnode | LPM 2015 > 2018
      li.nav-item(class=page_data.url.indexOf(lang_preurl+'/search') == 0 ? "active" : undefined)
        a.nav-link#searchModalButton(href="/search/")
          i.icon-search
          .sr-only=global.__("Search")

      li.nav-item
        include ../../_partials/components/newsletter-navbar

    ul.navbar-nav
      li.nav-item.lang-en(class=page_data.langSwitcher["en"] == page_data.url ? 'active' : '')
        a.nav-link(href=page_data.langSwitcher["en"], hreflang='en', title='English') EN
      li.nav-item.lang-it(class=page_data.langSwitcher["it"] == page_data.url ? 'active' : '')
        a.nav-link(href=page_data.langSwitcher["it"], hreflang='it', title='Italiano') IT
