- var basepath = req_params.page ? "" : "/editions/"+req_params.edition
.pt-4
  if body.galleries && body.galleries.length
    ul#listItems.row
      each item, i in body.galleries
        li.col-md-3.itemListElement(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
          meta(itemprop='position', content=i)
          div(itemprop='item', itemscope='', itemtype='http://schema.org/CreativeWork')
            a(itemprop='url', href=basepath+"/gallery/"+item.slug+"/", title=item.title)
              img.img-fluid(itemprop='image', src=item.imageFormats.small, alt=item.title)
            .caption(style='padding-right:15px;padding-left:15px;')
              .caption-body
                h2.caption-title(itemprop='name')=item.title
                each user in item.users
                  .caption-author(itemprop='author', itemscope='', itemtype='http://schema.org/Person')
                    b(itemprop='name')=user.stagename
                    br
                !="img: "+item.stats.img

  if body.img && body.img.imageFormats
    .row.mb-3
      .col-md-9
        img.img-fluid(itemprop='image', src=body.img.imageFormats.large, alt=body.img.originalname)
      .col-md-3
        h1=body.img.originalname
        p=global.__("Views")+": "+body.img.stats.visits
        p=global.__("Likes")+": "+body.img.stats.likes


  if body.medias && body.medias.length
    ul#listItems.row
      each media, i in body.medias
        li.col-md-3.itemListElement(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
          meta(itemprop='position', content=i)
          div(itemprop='item', itemscope='', itemtype='http://schema.org/CreativeWork')
            a.thumbnail(title=media.title, style='position:relative;', itemprop='url', href=basepath+"/gallery/"+body.slug+"/"+media.slug+"/")
              img.img-fluid.cntGallImgImg(itemprop='image', src=media.imageFormats.small, alt=media.title)
              //span.cntDida(itemprop='name')=media.title
            script.
              if (typeof glink==='undefined') var glink = [];
              glink.push("#{media.imageFormats.large}");
