section.performers_event_wrapper
  h3.mt-3.mb-3
    b=body.performersA
    !=" "+global.__('performers')+" ("+body.performersN + " " + global.__('peoples') +") "
    !=global.__('from') + " " + body.countries.join(', ')+ " " + global.__('playing')+ " "
    b=body.actsN
    !=" " + body.acts.join(', ') + "."      
  .row.lists
    each item, i in body.performers
      .col-sm-3
        .itemListElement(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
          meta(itemprop='position', content=i)
          div(itemprop='item', itemscope='', itemtype='http://schema.org/Person')
            div
              - var url = req_params.edition ? (config.prefix=="shockart" ? "/exhibitions/" : "/editions/")+req_params.edition+"/artists/"+item.slug+"/" : prefix=="wam" ? '/prenatal/'+req_params.exhibition+"/artists/"+item.slug+"/" : '/exhibitions/'+req_params.exhibition+"/artists/"+item.slug+"/"
              a(itemprop='url', href=url, title=item.stagename)
                img.img-fluid(itemprop='image', src=item.imageFormats.large, alt=item.stagename, class=item.imageFormats.large.substring(item.imageFormats.large.lastIndexOf(".")+1))
            .caption
              .caption-body
                h2.caption-title(itemprop='name')=item.stagename
                if item.addresses
                  .caption-location-artists
                    each address in item.addressesFormatted
                      span(itemprop='workLocation', itemscope='', itemtype='http://schema.org/Place')
                        span(itemprop='address', itemscope='', itemtype='http://schema.org/PostalAddress')=address.addressesFormatted
